<h1>This is my #about page</h1>
<p><%= link_to 'Home', pages_home_path %></p>
<!--image with link--!>
<%= link_to image_tag('stairs.jpg'), 'http://www.udemy.com' %>
<!--image only--!>
<%= image_tag 'stairs.jpg' %>